<li>
  <%= comment.commenter %> : <%= comment.body %> -
  <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>
  <% if comment_owned comment || admin %>
    <%= link_to 'X', [comment.commentable, comment],
              :confirm => 'Are you sure?',
              :method => :delete %>
  <%end%>
  <% if current_user%>
  <% if admin %>
      <%= link_to 'X', [comment.commentable, comment],
                  :confirm => 'Are you sure?',
                  :method => :delete %>
  <%end%>
  <%end%>

  <%= form_for [comment, Comment.new] do |f| %>
      <%= f.hidden_field :commenter, :value => current_user.email%>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>
  <% end %>

  <ul>
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

</li>

