<% @post.tags.build %>
    <%= form_for(@post) do |post_form| %>
        <% if @post.errors.any? %>
            <div id="errorExplanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
              <ul>
                <% @post.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <%= post_form.hidden_field :user_id, :value => current_user.id%>
        <div class="field">
          <%= post_form.label :name %><br />
          <%= post_form.text_field :name %>
        </div>
        <div class="field">
          <%= post_form.label :title %><br />
          <%= post_form.text_field :title %>
        </div>
        <div class="field">
          <%= post_form.label :content %><br />
          <%= post_form.text_area :content %>
        </div>
        <div>
          <td><%= post_form.label 'Comments approved', 'Comments approved' %></td>
          <td><%= post_form.radio_button :cshow, 1 %></td>
        </div>

        <div>
          <td><%= post_form.label 'Comments not approved', 'Comments not approved' %></td>
          <td><%= post_form.radio_button :cshow, 2 %></td>
        </div>

        <h2>Tags</h2>
        <div class="field">
          <%= post_form.label :all_tags, "Tags (separated by commas)" %><br />
          <%= post_form.text_field :all_tags %>
        </div>
        <div class="actions">
          <%= post_form.submit %>
        </div>
<% end %>
