<p id="notice"><%= notice %></p>

<% if current_user %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-default' %>
<% end %>

<table id="posts_table" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content[0..511] %></td>
        <td><%= link_to 'Show', post, class: 'btn btn-default' %></td>
        <% if owned post%>
          <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-default' %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
        <% end %>
        <%if current_user%>
        <% if admin %>
            <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-default' %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
        <% end %>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<% @tags.all.each do |tag| %>
    <%= link_to tag.name, tag_path(tag.name) %>
<% end %>
