<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron">
    <h1>
      <%= @post.title%>
    </h1>


    <p>
      <%= @post.content %>
    </p>
    </div>

<p><%= link_to image_tag("like.png", border: 0), like_post_path(@post), method: :put %> <%= @post.get_likes.size %> &nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("dislike.png", border: 0), dislike_post_path(@post), method: :put %> <%= @post.get_dislikes.size %></p>

<p>
  <strong>Tags:</strong>
  <%=raw tag_links(@post.all_tags)%>
</p>
<% if @post.cshow==1 %>
    <h3>Comments</h3>
    <% if current_user %>
      <%= form_for [@post, Comment.new] do |f| %>
          <%= f.hidden_field :commenter, :value => current_user.email%>
          <%= f.text_area :body, placeholder: "Add a comment" %><br/>
          <%= f.submit "Add Comment" %>
      <% end %>
    <% end %>
      <ul>
        <%= render(partial: 'comments/comment', collection: @post.comments) %>
      </ul>
<% end %>
    <% if owned @post%>
<%= link_to 'Edit', edit_post_path(@post) %> |
    <%end%>
<%= link_to 'Back', posts_path %>
</div>