<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style=>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div i="user_header">
      <% if current_user %>
          <font color="white">Looged in as <%= current_user.email %></font>.
          <a class="navbar-brand" href="#"><%= link_to "Log Out", logout_path %></a><br>
          <h5>
            <%= link_to "Home", home_path %>
            <%= link_to "Profile", profile_path %>
            <% if admin %>
            <%= link_to "Users", users_path %>
            <%end%>
          </h5>
      <%else%>
          <a class="navbar-brand" href="#"><%= link_to "Sing Up", singup_path %> </a>|
          <a class="navbar-brand" href="#"><%= link_to "Log In", login_path %> </a>
      <% end %>
    </div>
  </div>
  <!-- /.container -->
</nav>
<br>



<% flash.each do |key, value| %>
    <% content_tag(:div, class: "alert alert-#{key}") do%>
        <p><%= value%></p>
    <% end %>
<% end %>

<%= yield %>
</body>
</html>